<div class="caja">

    <form [formGroup]="form" (ngSubmit)="crearCurso($event)">
        <div class="lineaT">
            <div  class="titulo1">Imagen</div>
            <div class="titulo2">Imagen 2</div>
        </div>
        <div class="linea">
            <input formControlName="imagen" (change)="uploadFile($event)" class="titulo11" type="file" name="" id="">
            <input formControlName="imagen2" (change)="uploadFile($event)" type="file" name="" id="">
        </div>

        <div class="lineaT">
            <div  class="titulo1">Titulo</div>
            <div class="titulo2">Titulo2</div>
        </div>
        
        <div class="linea">
            <input  formControlName="titulo" class="esp input1" type="text" name="" id="">
            <input  formControlName="titulo2" class="input1" type="text" name="" id="">
        </div>
        <!--  -->
        <div class="lineaT">
            <div  class="titulo1">Precio</div>
            <div  class="titulo2">Tiempo</div>
        </div>
        
        <div class="linea">
            <input formControlName="precio" class="esp input1" type="text" name="" id="">
            <input  formControlName="tiempo" type="text" name="" id="">
        </div>
        <div class="alinear">
            <div>Descripcion</div>
        </div>
        <textarea formControlName="descripcion" name="" id="" cols="30" rows="5"></textarea>
        <div class="alinear">
            <div>Descripcion2</div>
        </div>
        <textarea formControlName="descripcionGeneral" name="" id="" cols="30" rows="5"></textarea>
        <div class="centrar2">
            <div class="linea2">
                <div  class="esp">Oferta</div>
                <input formControlName="oferta" class="check" type="checkbox" name="" id="">
            </div>
            <div class="botones">
                <button type="submit">Guardar Cambios</button>
            </div>

        </div>
    </form>

</div>
