.bg-grey-lighter{
    background-image: linear-gradient(to right bottom, #d0f9e2, #a1f3f6, #8ee5ff, #bacdff, #f9acf6);
}
button:disabled{
    background-color: rgb(182, 181, 181);
}
.rojo{
   color: red;

}
.flecha{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
