nav{
    height: 80px;
    display: flex;
    background-color: cornflowerblue;
    justify-content: center;
    align-items: center;
}
.der, .izq{
    width: 50%;
    height: 60px;
}
.der{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2em;

}
.no{
    color: white;
    margin-right: 0.5em;
}
.izq{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1em;
    /* background-color: blue; */
}
.logo img{
    height: 50px;
    margin-left: 0.8em;
}
.der img{
    height: 50px;
    width: 50px;
    border-radius: 2em;
}
.btn1{
    border: 1px solid grey;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    background-color: #CD3F8B;
    cursor: pointer;
    margin-right: 0.8em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn2{
    border: 1px solid grey;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color:#CD3F8B;
    font-size: 14px;
    font-weight: bolder;
    background-color: white;
    cursor: pointer;
    margin-right: 0.8em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fle{
    display: flex;
    flex-direction: column;
    margin-top: 0.3em;
}
.abs{
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 2em;
    right: 110px;
    top: 35px;

}
.close{
     background: -webkit-linear-gradient(0deg, #1A202C 0%, #CD3F8B 100%);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: white;
}
.tit{
    margin-left: 1em;
    font-size: 24px;
    background: -webkit-linear-gradient(0deg, #1A202C 0%, #CD3F8B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.centro{
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.centrar{
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 3em;
    margin-top: 3em;
    display: grid;
    padding: 2em;
  
}
.centrar2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    font-size: 32px;
    width: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;

}