<nav>
    <div class="izq">
        <div class="logo"><img src="assets/img/logo.png" alt=""> </div>
        <p class="tit">BETA ACADEMY</p>
    </div>
    <div class="der">
        <div class="btn1" routerLink='/auth'>Iniciar Sesión</div>
        <div class="btn2" routerLink='/auth/registro'>Registrarse</div>
    </div>
</nav>

<!-- Zona de Componente -->
<div class="centrar2">
    <p>Apúntate a Nuestros Cursos!</p>
</div>
<div class="centro" >
    
    <div class="centrar">
        <app-carta *ngFor="let item of cartas" [datoscurso]="item"></app-carta>
    </div>
</div>
