.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.linea{
    display: flex;
    
}

.btn{
   
    padding: 5px 20px 5px 20px;
    background-color: #1F2937;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.btn2{
   
    padding: 5px 15px 5px 15px;
    background-color: rgb(168, 6, 6);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.anadir{
    background-color: #3182CE;
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
}
.anadir:hover{
    background-color: #235f9e;
    color: white;
    transition: 1s;
}