.todo{
    height: 100%;
    width: 100%;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.cajaFoto{
    height: 350px;
    width: 850px;
    background-color: black;
    position: relative;
    margin-top: 4em;
}
.caja{
    background-color: white;
    height: 120px;
    width: 550px;
    position: absolute;
    border: 0.5px solid rgb(196, 192, 192);
    bottom: -50px;
    left: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
    width: 275px;
    
}
button{ 
    background-color: #3182CE;;
    border-radius: 5px;
    padding: 8px 15px 5px 15px;
    color: white;
}