.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.linea{
    display: flex;
    
}
.btn2{
    border: 1px solid black;
    padding: 5px 15px 5px 15px;
    background-color: rgb(168, 6, 6);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.btn{
    border: 1px solid black;
    padding: 5px 20px 5px 20px;
    background-color: #1F2937;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.usu{
    color: grey;
    font-size: 20px;
}

