nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: #1F2937;
    color: white;
    padding-right: 2em;
}
.usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1em;
    position: relative;
}
.usuario p{
    font-size: 10px;
}
.usuario img {
    height: 50px;
    border-radius: 2em;
    background-color: rgb(71, 71, 71);
}
.abs{
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 2em;
    right: -5px;
    top: 30px;
}