.todo{
    height: 100%;
    width: 100%;
    background-color: pink;
    display: flex;
    
}
.fle{
    display: flex;
    flex-direction: column;
}
.video{
    margin: 1em;
    border: 1px solid black;
    height: 400px;
    width: 600px;
}
.cla{
    border: 1px solid black;
    height: 650px;
    width: 250px;
    margin: 1em;
}
.desc{
    margin: 1em;
    height: 200px;
    width: 600px;
    border: 1px solid black;
}
.clase{
    height: 150px;
    width: 100%;
    background-color: red;
}
.nombreClase{
    width: 100%;
    height: 30px;
    background-color: cadetblue;
}
.te{
    height: calc(100% - 30px);
    width: 74%;
    background-color: coral;
    margin-left: 4em;
}