<div class="todo">
    <section class="fle">
        <div class="video"><p>video</p></div>
        <div class="desc">
            <div><p>Descripcion del tema</p></div>
        </div>
    </section>
    <section class="cla">
        <div class="clase">
            <div class="nombreClase">
                <p>Nombre de la Clase</p>
            </div>
            <div class="te">
                <div>Tema1</div>
                <div>Tema2</div>
                <div>Tema3</div>
            </div>
        </div>
    </section>
</div>
