.centrar{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, #d0f9e2, #a1f3f6, #8ee5ff, #bacdff, #f9acf6);
}