.todo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centrar{
    height: 85%;
    width: 85%;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.tam{
    font-size: 14px;
}
.centrar2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.contenedor{
    height: 600px;
    width: 700px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor2{
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.tit{
    position: absolute;
    top: 175px;
    left: 485px;
    font-size: 24px;
    color: grey;
    display: flex;
}
.flex{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
}
.barr{
    border-bottom: 1px solid black;
}
input{
    height: 40px;
    width: 150px;
    border-radius: 5px;
}
.inp{
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-around;
    margin-bottom: 1em;
    border-radius: 5px;
    border: 1px solid black;
}
.bor{
   
    width: 150px;
    text-align: left;
    font-size: 18px;
    text-align: center;
}
