.centro{
    display: flex;
    height: calc(100vh - 70px);
    
}
.barra{
    background-color: #1F2937;
    width: 300px;
    color: white;  
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.bcentrar{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3em;
}
.detalle{
    background-color:#dad6d6;
    height: 100%;
    width: 100%;
}
.btn{
    margin-top: 0.5em;
    font-size: 18px;
    padding-left: 0.5em;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90%;
    border-radius: 5px;
    background-color: #111827;
    cursor: pointer;
}
.btn:hover{
    background-color: #374151;
}
.logout{
    width: 90%;
    margin-bottom: 1em;
}
