section{
    height: calc( 100vh - 75px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dad6d6;
}
.imagen{
    height: 75px;
    width: 75px;
    margin-bottom: 5px;
    border-radius: 3em;
}
.centro{
    width: 450px;
    border:1px solid rgb(221, 218, 218);
    background-color: #FFFFFF;
    box-shadow: #dad6d6;
    padding: 1em 3em;
}
.tama{
    font-size: 14px;
    margin-left: 0.3em;
}
.justificar{
    padding:0.25em;
    display: flex;
    justify-content: left;
    align-items: center;
}
.justificar p{
    padding-left: .5em;
}
button{
    background-color: #3182CE;
    margin-top: 1.5em;
    text-align: center;
    padding-top: 5px;
    color: white;
    padding-bottom: 5px;
    border-radius: 0.5em;
    width: 100%;
}
button:hover{
    background-color: #2B6CB0;
    transition: 1s;
}
.botones{
    text-align: center;
}
.cajas{
    background-color:white;
    border: 1px solid rgb(172, 170, 170);
    border-radius: 5px;
    padding: 5px;
    width:100%;
}
.cajas:hover{
    border: 1px solid purple;
}
h2{
    text-align: center;
    font-weight: bold;
}
.centrar{
    height: 125px;
     display: flex;
     /* background-color: grey; */
     align-items: center;
 }
 .der{
     height: 100%;
     
     width: 30%;
     display: flex;
     justify-content: flex-end;
     align-items: center;
 }
 .izq{
     width: 70%;
     display: flex;
     justify-content: center;
     padding-left: 7em;
 }
/* input:disabled{
    background-color:  rgb(182, 181, 181);
} */
/* button:disabled {
   background-color:gray;
} */

