<section>
    <div class="centro">
        <div class="centrar">
            <div class="izq">
                <h2>Datos de Usuario</h2>
            </div>
            <div class="der">
                <img class="imagen" [src]="devuelveImagen">
            </div>       
        </div>
        <form [formGroup]="form" (ngSubmit)="modificarUser($event)">
      <div>      
            <!-- <div>Avatar</div> -->
            
            <div class="flex">
            <input disabled  type="file" class="cajas" >
            <select formControlName="role" name="select" id="">
                <option value="user">user</option>
                <option value="profesor">profesor</option>
                <option value="admin">admin</option>
            </select>
        </div>
       
    </div>
   
    
    <div>
        <div class="tama">Nombre</div>
        <input formControlName="nombre" disabled class="in" type="text" name="" id="" class="cajas">
    </div>
    <div>
        <div class="tama">email</div>
        <input formControlName="email" disabled type="email"  class="in"name="" id="" class="cajas">
    </div>
    <div class="cursos" *ngIf="usuario.curso == null">Cursos</div>
    <!-- <select class="sel"  name="select" id="">
        <option *ngFor="let itemCur of usuario.cursos">{{itemCur.titulo}}</option>
    </select> -->
    <div class="cajon" *ngIf="usuario.cursos">
    
    <ul  formArrayName="cursos" *ngFor="let curso of leerCurso.controls; let i = index">
     <!-- //  <ul> -->
        <!-- <li formControlName="cursos" *ngFor="let itemCur of usuario.cursos">{{itemCur._id}} - {{itemCur.titulo}} <span (click)="borrarCurso(itemCur._id)">X</span></li> -->
       
        <li class="fl" [formGroupName]="i">
            <input class="cajas2" formControlName="titulo"><span class="btn2" (click)="eliminarCurso(i)">Borrar</span>
        </li>
    </ul>
    <div class="cajon" style="display: none;" *ngIf="!usuario.cursos"></div>
</div> 
    <div class="botones">
        <button type="submit">Guardar Cambios</button>
    </div>
        </form>
</div>
</section>